<mat-card *ngIf="user">
<h1>Your Profile Details</h1>
<mat-card-content>
<div class="bootstrap-wrapper">
   <div class="container" >
    <div *ngIf="user" class="container text-center">
        <img class="profile-image" src="https://www.shutterstock.com/image-vector/vector-flat-illustration-grayscale-avatar-600nw-2264922221.jpg" alt="">
        <h1 class="mt20" *ngIf="user" >{{user.username}}</h1>
    </div>

       <div class="rows">

        <div class="col-md-10 offset-md-1">

            <!-- table details -->
            <table class="table text-center">
                <tr>
                    <td>Username</td>
                    <td>{{user.username}}</td>
                </tr>
                <tr>
                    <td>Userid</td>
                    <td>{{user.id}}</td>
                </tr>
                <tr *ngIf="user.phone">
                    <td>Phone No</td>
                    <td>{{user.phone}}</td>
                </tr>
                <tr>
                    <td>Role</td>
                    <td>{{user.authorities[0].authority}}</td>
                </tr>
                <tr>
                    <td>status</td>
                    <td>{{user.enabled? "ACTIVE":"NOACTIVE"}}</td>
                </tr>
            </table>
        </div>
       </div>
   </div>
</div>
</mat-card-content>
<mat-card-actions class="text-center">
    <button mat-raised-button color="primary">Update</button>
    <button mat-raised-button color="accent">SHARE</button>
  </mat-card-actions>

</mat-card>